<div class="row" style="margin-top:80px">
  <div class="col-sm-6 ">
    <h1>Modifica tu perfil</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :method => :put, role: "form" }) do |f| %>
  
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">      
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
        <div class="col-sm-6">     
          <p>Esperando confirmación actualmente: <%= resource.unconfirmed_email %></p>
        </div>
      </div>
      <% end %>

      <div class="form-group">
            <%= f.label :password , "Contraseña" %> <i><small>(deja en blanco si no deseas modificarla)</small></i>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label :password_confirmation , "Confirmar contraseña" %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label :current_password, "Contraseña actual" %> <i><small>(es necesario la contraseña actual para confirmar los cambios)</small></i>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :current_password, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= f.submit "Actualizar cambios", class: "btn btn-primary" %> - <%= link_to "Cancelar", myqhh_path , style: "color:white;"%>
        </div>
      </div>    
 
      <% end %>
    </div>
  </div>
