<% title("Encuentra") %>

<!-- Jumbotron Header -->
<header class="fondo jumbotron" style="margin-top:80px;">
  <h1 style="font-family: Gill Sans, sans-serif">Encuentra lo mejor</h1>
  <p style="font-family: Gill Sans, sans-serif">Te ofrecemos una división general de planes para que puedas comenzar tu búsqueda filtrando por estos ocho temas:</p>
</header>

<!-- Breadcrumbs -->
<div id="bc1" class="btn-group btn-breadcrumb">
    <%= link_to root_path, class: "btn btn-default" do %>
      <i class="fa fa-home"></i>
    <% end %>
    <%= link_to "Encuentra", encuentra_path, class: "btn btn-default" %>
</div>

<hr>

<!-- Title -->
<div class="row">
  <div class="col-lg12">
    <h3>Categorías</h3>
  </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center" style="margin-bottom:80px;">


  <% @categoria.each_with_index do |t,i| %>

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail" style="background-color: #8F9497">
      <%= image_tag("encuentra/#{i+1}.jpg") %>
      <div class="caption">
        <h3 style="font-family: Gill Sans, sans-serif; color: white;"><%= t.name %></h3>
        <p>
           <%= link_to "Ver sitios", categoria_path(i+1), class: "btn btn-info" %>
        </p>
      </div>
    </div>
  </div>
  <% end %>

</div>

<br></br>