<% title("QHH") %>
<style>
  body {
    color: white;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
   var sitio = <%= raw @sugerencias.to_json %>;
   getLocation(sitio);
  });
</script>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="item active" style="background: url(<%= asset_path "home/barock.jpg" %>) center center no-repeat scroll;">
        <%= link_to(root_path) do %>
      <div class="container">
        <div class="carousel-caption">
          <!--h1>Bootstrap 3 Carousel Layout</h1-->
            <p style="font-size: 40px; font-family: Gill Sans, sans-serif" ><strong>BAROCK</strong><br><span class="text-muted">Local de ocio nocturno</span></p>
          <!--p><a class="btn btn-lg btn-success" href="#">Learn More</a>
        </p-->
        </div>
      </div>
      <% end %>
    </div>
    <div class="item" style="background: url(<%= asset_path "home/berto.jpg" %>) center center no-repeat scroll;">
      <%= link_to(categoria_path(7)) do %>
      <div class="container">
        <div class="carousel-caption">
          <p style="font-size: 40px; font-family: Gill Sans, sans-serif" align="left"><strong>HUMOR</strong><br><span class="text-muted">Cómicos en LL</span></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="item" style="background: url(<%= asset_path "home/sinsajo.jpg" %>) center center no-repeat scroll;">
      <%= link_to(sitio_path(10)) do %>
      <div class="container">
        <div class="carousel-caption">
          <p style="font-size: 40px; font-family: Gill Sans, sans-serif" align="right"><strong>CINE</strong><br><span class="text-muted">Carteleras a la última</span></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev" style="color:white;"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next" style="color:white;"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="cbuscar">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="findbox" class="sr-only">Buscar</label>
      <input size="40" class="form-control" id="findbox" placeholder="Nombre del lugar">
    </div>
      <input type="submit" value="Buscar" class="btn btn-info" style="font-family: Gill Sans, sans-serif">

<!--     <button class="btn btn-info" style="font-family: Gill Sans, sans-serif"><a style="color: white" href="../BUSCAR/menubuscar_con_myqhh.html">Buscar</a></button> -->
<!--<%= link_to "Buscar", encuentra_path, style:"color: white" %>-->
  </form>
</div>
        
  <hr class="featurette-divider">
        
<div style="margin-top:-50px;">
    <p style="text-align: center; font-size: 40px; font-family: Gill Sans, sans-serif"><a style="color: white;" href="#"><u>Sugerencias:</u></a></p>
</div>
        
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <% @sugerencias.each do |sug| %>
      <div class="col-md-4 text-center" style="margin-top:30px;">
        <div class="distancia"></div>
        <center><%= image_tag("sitios/#{sug.id}/sugerencia.jpg", :class => "img-circle") %></center>
        <h2 style="font-family:Gill Sans,sans-serif"><%= sug.longname %></h2>
        <p><%= sug.text1[0..160] << "..." %></p>
        <p><%= link_to "Más", sitio_path(sug.id), class: "btn btn-info" %></p>
      </div>
    <% end %>
  </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
    <div>
        <p style="text-align: center; font-size: 40px; font-family: Gill Sans, sans-serif"><a style="color: white;" href="#"><u>Novedades:</u></a></p>
    </div>
    
  <div class="featurette">
    <a href="#"><%= image_tag("home/4.jpg", :class => "featurette-image img-circle pull-right") %></a>
    <h2 class="featurette-heading" style="font-family: Gill Sans, sans-serif">Hotel_aguere<span class="text-muted"><br>Patrimonio artístico</span></h2>
    <p class="lead">Completamente remodelado y situado en la antigua casa de los maqueses de Torrehermosa, edificio declarado Patrimonio Histórico-Artístico que está ubicado en pleno casco antiguo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <a href="../Epoca/Epoca.html"><%= image_tag("home/5.jpg", :class => "featurette-image img-circle pull-left") %></a>
    <h2 class="featurette-heading" style="font-family: Gill Sans, sans-serif">Café Bar Época. <span class="text-muted"><br>Vuelta al pasado.</span></h2>
    <p class="lead">Café literario con tenue música de jazz, con chocolates bebidos, comidos o con alcohol.<br>Gran local para relajarse en "otros tiempos".</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <a href="#"><%= image_tag("home/6.jpg", :class => "featurette-image img-circle pull-right") %></a>
    <h2 class="featurette-heading" style="font-family: Gill Sans, sans-serif">100 Montaditos.<span class="text-muted"><br>Ambiente y calidad.</span></h2>
    <p class="lead">La historia comenzó en el año 2000 en una pequeña playa de Islantilla, Huelva, con un concepto revolucionario, sencillo, de operativa fácil, con ingredientes de alta calidad y con una gran variedad, además de una divertida manera de hacer los pedidos, una combinación que ha resultado ser un completo éxito.</p>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
