<% title("MyQHH") %>

<!-- Jumbotron Header -->
<header class="fondo jumbotron">
    <h1 style="font-family: Gill Sans, sans-serif">MyQHH</h1>
    <p style="font-family: Gill Sans, sans-serif">Ajustes y preferencias de lugares</p>
    <p><%= link_to "Ajustes de cuenta", sitio_path(2), class: "btn btn-primary btn-large" %></p>
</header>

<hr>

<div>
    <p style="text-align: center; font-size: 40px; font-family: Gill Sans, sans-serif"><a style="color: white;" href="#"><u>Lugares visitados</u></a></p>
</div>
        
<div class="container marketing" style="color: white;">
  <div class="row">
    <% @mysites[0..2].each do |s| %>
      <div class="col-md-4 text-center" style="margin-top:30px;">
        <center><%= image_tag("sitios/#{s.id}/sugerencia.jpg", :class => "img-circle") %></center>
        <h2 style="font-family:Gill Sans,sans-serif"><%= s.longname %></h2>
        <p><%= s.text1[0..160] << "..." %></p>
        <p><%= link_to "Más", sitio_path(s.id), class: "btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>  

<div>
    <p style="text-align: center; font-size: 40px; font-family: Gill Sans, sans-serif"><a style="color: white;" href="#"><u>Favoritos</u></a></p>
</div>

<div class="container marketing" style="color: white;">
  <div class="row">
    <% @mysites[1..2].each do |s| %>
      <div class="col-md-4 text-center" style="margin-top:30px;">
        <center><%= image_tag("sitios/#{s.id}/sugerencia.jpg", :class => "img-circle") %></center>
        <h2 style="font-family:Gill Sans,sans-serif"><%= s.longname %></h2>
        <p><%= s.text1[0..160] << "..." %></p>
        <p><%= link_to "Más", sitio_path(s.id), class: "btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>  
        
<div>
    <p style="text-align: center; font-size: 40px; font-family: Gill Sans, sans-serif"><a style="color: white;" href="#"><u>Pendientes</u></a></p>
</div>

<div class="container marketing" style="color: white;">
  <div class="row">
    <% @mysites[3..5].each do |s| %>
      <div class="col-md-4 text-center" style="margin-top:30px;">
        <center><%= image_tag("sitios/#{s.id}/sugerencia.jpg", :class => "img-circle") %></center>
        <h2 style="font-family:Gill Sans,sans-serif"><%= s.longname %></h2>
        <p><%= s.text1[0..160] << "..." %></p>
        <p><%= link_to "Más", sitio_path(s.id), class: "btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>  

<br></br>
<br></br>
<br></br>
