<% title(@sitio.name) %>

<script type="text/javascript">
  $(document).ready(function(){
    //getLocation();
    var sitio = <%= raw @sitio.to_json %>;  
    show_map(sitio);    
  });
</script>



<!-- Breadcrumbs -->
<div id="bc1" class="btn-group btn-breadcrumb" style="margin-top:10px;">
    <%= link_to root_path, class: "btn btn-default" do %>
      <i class="fa fa-home"></i>
    <% end %>
    <%= link_to "Encuentra", encuentra_path, class: "btn btn-default" %>
    <%= link_to Category.where(id: @sitio.category).pluck(:name).join, categoria_path(@sitio.category), class: "btn btn-default" %>
    <%= link_to @sitio.longname, sitio_path(@sitio.id), class: "btn btn-default" %>
</div>

<!-- Page Content -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <% if @sitio.category == 3 %>
        <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Argumento</h2>
      <% else %>
        <h2 style="font-family: Gill Sans, sans-serif;color: #333;">¿Quiénes somos?</h2>
      <% end %>
      <p style="font-family: Gill Sans, sans-serif;color: #333;"><%= @sitio.text1 %></p>
    </div>
    <div class="col-sm-4">
      <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Contáctenos</h2>
      <address style="font-family: Gill Sans, sans-serif;color: #333;">
        <strong><%= @sitio.longname %></strong>
        <br><%= @sitio.address %>
        <br><%= @sitio.postal %> San Cristóbal de La Laguna
        <br>
      </address>
      <address style="color: #333;">
        <% if !@sitio.phone.empty? %>
        <abbr title="Teléfono" style="font-family: Gill Sans, sans-serif;color: #333;">Tfn: </abbr><%= @sitio.phone %>
        <br>
        <% end %>
        <% if !@sitio.mail.empty? %>
          <abbr title="Email">E: </abbr><a href="mailto: <%= @sitio.mail %>"><%= @sitio.mail %></a>
        <% end %>        
        <% if !@sitio.webpage.empty? %>
          <p style="font-family: Gill Sans, sans-serif;">Web: <a target="_blank" href="<%= @sitio.webpage %>" style="font-family: Gill Sans,sans-serif"><%= @sitio.webpage %></a></p>
        <% end %>
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("sitios/#{@sitio.id}/1.jpg", class: "img-circle img-responsive img-center") %>
      <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Acerca</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484;"><%= @sitio.text2 %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("sitios/#{@sitio.id}/2.jpg", class: "img-circle img-responsive img-center") %>
      <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Más Información</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484;"><%= @sitio.text3 %></p>
    </div>
    <div class="col-sm-4">
      <div id="map" style='width:286px;height:300px;color:black;'></div>
      <h2 align="center" style="font-family: Gill Sans, sans-serif;color: #333;">Ubicación</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484">Obtenga la ubicación de <%= @sitio.name %> en Google Maps.</p>
    </div>
  </div>
  <hr>
</div>

<%= render 'layouts/comments' %>

<br></br>
<br></br>