<% title(@sitio.name) %>

<script type="text/javascript">
  $(document).ready(function(){
    var sitio = <%= raw @sitio.to_json %>;  
    var location = <%= raw @location.to_json %>;  
    getLocation(location);    
    show_map(sitio);    
  });
</script>

<!-- Breadcrumbs -->
<div id="bc1" class="btn-group btn-breadcrumb" style="margin-top:10px;">
    <%= link_to root_path, class: "btn btn-default" do %>
      <i class="fa fa-home"></i>
    <% end %>
    <%= link_to "Encuentra", encuentra_path, class: "btn btn-default" %>
    <%= link_to Category.where(id: @sitio.category).pluck(:name).join, categoria_path(@sitio.category), class: "btn btn-default" %>
    <%= link_to @sitio.longname, sitio_path(@sitio.id), class: "btn btn-default" %>
</div>

<!-- Redes sociales -->
<div style="margin-top:20px;">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.quehagohoy.me/sitios/<%=@sitio.id%>" data-text="Me encanta" data-via="QHagoHoy" data-lang="es" data-size="large" data-hashtags="QueHagoHoy">Twittear</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  
</div>

<!-- Page Content -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <% if @sitio.category == 3 %>
        <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Argumento</h2>
      <% else %>
        <h2 style="font-family: Gill Sans, sans-serif;color: #333;">¿Quiénes somos?</h2>
      <% end %>
      <p style="font-family: Gill Sans, sans-serif;color: #333;"><%= @sitio.text1 %></p>
    </div>
    <div class="col-sm-4">
      <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Contáctenos</h2>
      <address style="font-family: Gill Sans, sans-serif;color: #333;">
        <strong><%= @sitio.longname %></strong>
        <br><%= @sitio.address %>
        <br><%= @sitio.postal %> San Cristóbal de La Laguna
        <br>
      </address>
      <address style="color: #333;">
        <% if !@sitio.phone.empty? %>
        <abbr title="Teléfono" style="font-family: Gill Sans, sans-serif;color: #333;">Tfn: </abbr><%= @sitio.phone %>
        <br>
        <% end %>
        <% if !@sitio.mail.empty? %>
          <abbr title="Email">E: </abbr><a href="mailto: <%= @sitio.mail %>"><%= @sitio.mail %></a>
        <% end %>        
        <% if !@sitio.webpage.empty? %>
          <p style="font-family: Gill Sans, sans-serif;">Web: <a target="_blank" href="<%= @sitio.webpage %>" style="font-family: Gill Sans,sans-serif"><%= @sitio.webpage %></a></p>
        <% end %>
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("sitios/#{@sitio.id}/1.jpg", class: "img-circle img-responsive img-center") %>
      <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Acerca</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484;"><%= @sitio.text2 %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("sitios/#{@sitio.id}/2.jpg", class: "img-circle img-responsive img-center") %>
      <h2 style="font-family: Gill Sans, sans-serif;color: #333;">Más Información</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484;"><%= @sitio.text3 %></p>
    </div>
    <div class="col-sm-4">
      <div id="map" style='width:286px;height:300px;color:black;'></div>
      <h2 align="center" style="font-family: Gill Sans, sans-serif;color: #333;">Ubicación</h2>
      <p style="font-family: Gill Sans, sans-serif; color: #848484">Obtenga la ubicación de <%= @sitio.name %> en Google Maps.</p>
      <div class="distancia" style="left:35%;position:relative;"></div>
    </div>
  </div>
  <hr>
</div>

<%= render 'layouts/comments' %>

<br></br>
<br></br>