<!-- Page Content -->

<!-- Jumbotron Header -->
<header class="fondo jumbotron" style="margin-top:80px;">
  <h1 style="font-family: Gill Sans, sans-serif"><%= @description[@category.id-1][0] %></h1>
  <p style="font-family: Gill Sans, sans-serif"><%= @description[@category.id-1][1] %></p>
</header>

<hr>

<!-- Page Features -->
<div class="row text-center" style="margin-bottom:80px;">

  <% @site.each_with_index do |s,i| %>

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail" style="background-color: #8F9497">
      <%= image_tag("sitios/#{s.id}/mostrar.jpg") %>
      <div class="caption">
        <h3 style="font-family: Gill Sans, sans-serif; color: white;font-size: 2rem"><%= s.name %></h3>
        <p>
          <%= link_to "Ir al sitio", sitio_path(s.id), class: "btn btn-info" %>
        </p>
      </div>
    </div>
  </div>
  <% end %>

</div>

<br></br>

