<!-- FOOTER RBRICKS ORIGINAL
<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Yourself!
          <br/>
          Assembled with <%= link_to "RailsBricks", "http://www.railsbricks.net" %>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>
-->

<!-- FOOTER QUEHAGOHOY -->
<div id="footer">
  <div class="container">
    <div class="row footer-first-row">
      <div class="col-xs-12 text-center">  
        <p >Copyright &copy; <%= Time.now.year %> - <%= link_to "Que Hago Hoy", root_path, {:style=>'color:white;'} %> - <%= link_to "Contacto", contacto_path, {:style=>'color:white;'}%></p> 

        <div class="tools">
          <a target="_blank" href="http://rubyonrails.org/" class="rails"> </a>
          <a target="_blank" href="https://www.digitalocean.com/?refcode=a8f5bd239d65" class="digital"> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Que Hago Hoy
        </small></p>
      </div>
      
    </div>
    
  </div>
</div> -->