<!-- RBRICKS ORIGINAL

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-inverse navbar-fixed-top" style="color:black">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a class="navbar-header" href="#"><%= link_to image_tag("home/logo.png", :class => "logo"), root_path %></a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" >

            <li class="btn btn-info" style="font-family: Gill Sans, sans-serif;"><%= link_to "Home", root_path, { class: "mybutton",style: "color:white"}%></li>

            <% if !user_signed_in? %>
             <li class="btn btn-info" style="font-family: Gill Sans, sans-serif;"><%= link_to "Log in", new_user_session_path, { class: "mybutton",style: "color:white"}%></li>
            <% else %>
              <li class="btn btn-info" style="font-family: Gill Sans, sans-serif;"><%= link_to "MyQHH", root_path, { class: "mybutton",style: "color:white"}%></li>    
              <li class="btn btn-info" style="font-family: Gill Sans, sans-serif;"><%= link_to "Salir", destroy_user_session_path, { class: "mybutton", data:{method: :delete},style: "color:white"}%></li>
            <% end %>

            <li class="dropdown btn btn-info" style="font-family: Gill Sans, sans-serif;"><%= link_to "Encontrar", root_path, {class:"dropdown-toggle mybutton",data: {toggle:"modal"},style:"color:white"}%>
              <ul class="dropdown-menu">
                <li><a href="../BUSCAR/menubuscar%20con%20myqhh.html">Buscar</a></li>
                <li><a href="#">Sugerencias</a></li>
                <li><a href="#">Preferencias</a></li>
                <!--li class="divider"></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li-->
              </ul>
            </li>
          </ul>
        </div>

    </div>
  </div><!-- /container -->
</nav><!-- /navbar wrapper -->