<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Que Hago Hoy" %></title>
  <%= favicon_link_tag 'logo.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag 'base'%>
  <%= stylesheet_link_tag 'site'%> 
  <%= stylesheet_link_tag 'breadcrumbs'%> 

  <!-- Dependencias Google Maps -->
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<% if controller.controller_name == 'pages' && controller.action_name == 'show_site' %>
  <body style="background:none;">
<% else %>
  <body>
<% end %>

  <% if controller.controller_name == 'pages' && controller.action_name == 'show_site' %>
    <%= render 'layouts/site' %>
  <% end %>


 <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
  
    <div class="container">
       
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>     
      </div>  
    </div>
   
     <div class="socialmedia">
      <a target="_blank" href="https://www.facebook.com/qhhlalaguna" class="facebook"> </a>
      <a target="_blank" href="https://twitter.com/QHagoHoy" class="twitter"> </a>
    </div>
    <a href="#" class="scrollup" >Subir</a>
    </div>
  </div> 
  <%= render 'layouts/footer' %>   
</body>
</html>
