<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Que Hago Hoy" %></title>
  <%= favicon_link_tag 'logo.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag 'base'%>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
      
    <div class="container">
       
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>     
      </div>  
      
    </div>
    <div class="socialmedia">
      <a target="_blank" href="https://www.facebook.com/qhhlalaguna" class="facebook"> </a>
      <a target="_blank" href="https://twitter.com/QHagoHoy" class="twitter"> </a>
    </div>
    <a href="#" class="scrollup" >Subir</a>
  </div>
  <%= render 'layouts/footer' %>    
</body>
</html>
